<title>Yena's homepage</title>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>This is my <b><i>second</b></i> paragraph. </p>

<b> This is bold.</b>
<i> This is italic.</i>
<u> This is underline. </u>
<br>
This is line 9.
<hr>
This is line 11.
